@page
@model SportsBlogV2.Pages.SearchModel
@{
    ViewData["Title"] = "Search results";
}

<div class="container">
    <div class="row mt-4">
        <div class="col-8 offset-2">
            <span>@Html.DisplayFor(modelItem => Model.SearchResult.Search)</span>
        </div>
    </div>
</div>
