@page
@model SportsBlogWithAuth.Pages.SearchModel
@{
    ViewData["Title"] = "Search results";
}

<div class="container">
    <div class="row text-center">
        <div class="col-12 mt-4">
            <form method="post">
                <div class="form-group">
                    <input type="text" asp-for="Input.Search" placeholder="Wyszukaj post..." id="search-content" style="width:100%; height: 50px; font-size: 20px;"/>
                    <span asp-validation-for="Input.Search" class="text-danger" id="search-content-result"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Wyszukaj" class="btn btn-success" onclick="return Validate();" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function Validate() {
        var searchContent = document.getElementById("search-content").value;
        var trimmedSearchContent = searchContent.trim();
        if (trimmedSearchContent == "") {
            document.getElementById("search-content-result").innerHTML = "Treść zapytania nie może być pusta";
            return false;
        }
    }
</script>
